/* SCSS Compiled */
/*usage  @include font-size(13);*/
html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */ }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

img {
  border-style: none;
  max-width: 100%; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

input, textarea, select {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  vertical-align: middle;
  color: #000;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

*:focus {
  outline: none; }

input::-webkit-input-placeholder {
  color: #bebebe; }

input:focus::-webkit-input-placeholder {
  color: #bebebe; }

/***************************************************              GENERAL STYLES             ***************************************************/
h1 {
  font: 35px sans-serif; }

h2 {
  font: 25px sans-serif; }

h3 {
  font: 23px sans-serif; }

h4 {
  font: 21px sans-serif; }

h5 {
  font: 18px sans-serif; }

h6 {
  font: 16px sans-serif; }

/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/
/* wrapper */
#wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }

.layout {
  margin: 0 auto;
  position: relative;
  width: 978px; }

/****************************************************************              PC              ***************************************************/
/****************************************************************              TABLET              ***********************************************/
@media (min-width: 768px) and (max-width: 977px) {
  .layout {
    margin: 0 auto;
    position: relative;
    width: 768px; } }

/****************************************************************              MOBILE              ***********************************************/
@media (min-width: 320px) and (max-width: 767px) {
  .layout {
    width: 100%;
    padding: 0; } }

/* Brand Colors ------------------------------------------------*/
.head {
  background-color: #ffffff;
  padding-bottom: 8px; }
  .head .language {
    padding-top: 30px;
    padding-right: 30px; }
    .head .language li {
      float: left;
      margin-right: 8px; }
      .head .language li:active {
        color: #203140; }
      .head .language li a {
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 11px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #81888C; }
        .head .language li a:hover {
          color: #203140; }
  .head .header {
    background-color: #ffffff; }
    .head .header .logo {
      max-width: none; }
    .head .header .nav {
      background-color: none;
      padding-top: 45px; }
      @media screen and (max-width: 769px) {
        .head .header .nav {
          width: 100%;
          position: absolute; } }
      @media screen and (max-width: 340px) {
        .head .header .nav {
          padding-top: 40px; } }
      .head .header .nav .navbar-inverse, .head .header .nav .navbar-toggle {
        background-color: #ffffff;
        border: none;
        margin-bottom: 0;
        min-height: 0; }
        .head .header .nav .navbar-inverse .button-nav, .head .header .nav .navbar-toggle .button-nav {
          position: absolute;
          top: -40px;
          right: 0; }
          @media screen and (min-width: 770px) {
            .head .header .nav .navbar-inverse .button-nav, .head .header .nav .navbar-toggle .button-nav {
              display: none; } }
          .head .header .nav .navbar-inverse .button-nav span, .head .header .nav .navbar-toggle .button-nav span {
            background-color: #292E33;
            width: 28px;
            height: 3px; }
        .head .header .nav .navbar-inverse .navbar-collapse, .head .header .nav .navbar-inverse .show, .head .header .nav .navbar-toggle .navbar-collapse, .head .header .nav .navbar-toggle .show {
          font-family: 'Fira Sans', sans-serif;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          font-size: 14px;
          letter-spacing: 0.06em;
          color: #81888C;
          border-top: none;
          z-index: 100; }
          @media screen and (max-width: 769px) {
            .head .header .nav .navbar-inverse .navbar-collapse, .head .header .nav .navbar-inverse .show, .head .header .nav .navbar-toggle .navbar-collapse, .head .header .nav .navbar-toggle .show {
              width: 100vw;
              position: absolute;
              background-color: #ffffff;
              -webkit-transition: height 0.2s linear;
              -o-transition: height 0.2s linear;
              transition: height 0.2s linear;
              padding-top: 30px; } }
          .head .header .nav .navbar-inverse .navbar-collapse li, .head .header .nav .navbar-inverse .show li, .head .header .nav .navbar-toggle .navbar-collapse li, .head .header .nav .navbar-toggle .show li {
            margin-right: 28px; }
            @media screen and (max-width: 769px) {
              .head .header .nav .navbar-inverse .navbar-collapse li, .head .header .nav .navbar-inverse .show li, .head .header .nav .navbar-toggle .navbar-collapse li, .head .header .nav .navbar-toggle .show li {
                margin-bottom: 15px;
                margin-left: 8.3%; }
                .head .header .nav .navbar-inverse .navbar-collapse li .active, .head .header .nav .navbar-inverse .show li .active, .head .header .nav .navbar-toggle .navbar-collapse li .active, .head .header .nav .navbar-toggle .show li .active {
                  border: none; } }
            .head .header .nav .navbar-inverse .navbar-collapse li a, .head .header .nav .navbar-inverse .show li a, .head .header .nav .navbar-toggle .navbar-collapse li a, .head .header .nav .navbar-toggle .show li a {
              padding: 6px 0;
              text-decoration: none; }
              .head .header .nav .navbar-inverse .navbar-collapse li a:hover, .head .header .nav .navbar-inverse .show li a:hover, .head .header .nav .navbar-toggle .navbar-collapse li a:hover, .head .header .nav .navbar-toggle .show li a:hover {
                color: #203140;
                border-bottom: 4px solid #0D79D4; }
              .head .header .nav .navbar-inverse .navbar-collapse li a:focus, .head .header .nav .navbar-inverse .show li a:focus, .head .header .nav .navbar-toggle .navbar-collapse li a:focus, .head .header .nav .navbar-toggle .show li a:focus {
                color: inherit;
                background-color: none; }
              @media screen and (max-width: 769px) {
                .head .header .nav .navbar-inverse .navbar-collapse li a, .head .header .nav .navbar-inverse .show li a, .head .header .nav .navbar-toggle .navbar-collapse li a, .head .header .nav .navbar-toggle .show li a {
                  font-family: 'Roboto', sans-serif;
                  font-style: normal;
                  font-weight: 900;
                  line-height: 37px;
                  font-size: 20px;
                  letter-spacing: 0.04em;
                  color: #203140; }
                  .head .header .nav .navbar-inverse .navbar-collapse li a:hover, .head .header .nav .navbar-inverse .show li a:hover, .head .header .nav .navbar-toggle .navbar-collapse li a:hover, .head .header .nav .navbar-toggle .show li a:hover {
                    border: none;
                    color: #203140; } }
          .head .header .nav .navbar-inverse .navbar-collapse .active, .head .header .nav .navbar-inverse .show .active, .head .header .nav .navbar-toggle .navbar-collapse .active, .head .header .nav .navbar-toggle .show .active {
            border-bottom: 4px solid #0D79D4;
            color: #203140; }
          .head .header .nav .navbar-inverse .navbar-collapse .lang-list, .head .header .nav .navbar-inverse .show .lang-list, .head .header .nav .navbar-toggle .navbar-collapse .lang-list, .head .header .nav .navbar-toggle .show .lang-list {
            padding-top: 70px;
            position: static; }
            .head .header .nav .navbar-inverse .navbar-collapse .lang-list li, .head .header .nav .navbar-inverse .show .lang-list li, .head .header .nav .navbar-toggle .navbar-collapse .lang-list li, .head .header .nav .navbar-toggle .show .lang-list li {
              float: left;
              margin-right: 20px !important; }
              @media screen and (min-width: 769px) {
                .head .header .nav .navbar-inverse .navbar-collapse .lang-list li, .head .header .nav .navbar-inverse .show .lang-list li, .head .header .nav .navbar-toggle .navbar-collapse .lang-list li, .head .header .nav .navbar-toggle .show .lang-list li {
                  margin-right: 10px; } }
              .head .header .nav .navbar-inverse .navbar-collapse .lang-list li a, .head .header .nav .navbar-inverse .show .lang-list li a, .head .header .nav .navbar-toggle .navbar-collapse .lang-list li a, .head .header .nav .navbar-toggle .show .lang-list li a {
                font-family: 'Fira Sans', sans-serif;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                font-size: 16px;
                letter-spacing: 0.06em;
                color: #81888C;
                opacity: 0.6; }
                @media screen and (min-width: 769px) {
                  .head .header .nav .navbar-inverse .navbar-collapse .lang-list li a, .head .header .nav .navbar-inverse .show .lang-list li a, .head .header .nav .navbar-toggle .navbar-collapse .lang-list li a, .head .header .nav .navbar-toggle .show .lang-list li a {
                    font-size: 11px; } }
                .head .header .nav .navbar-inverse .navbar-collapse .lang-list li a:hover, .head .header .nav .navbar-inverse .show .lang-list li a:hover, .head .header .nav .navbar-toggle .navbar-collapse .lang-list li a:hover, .head .header .nav .navbar-toggle .show .lang-list li a:hover {
                  border: none; }
                .head .header .nav .navbar-inverse .navbar-collapse .lang-list li a:active, .head .header .nav .navbar-inverse .navbar-collapse .lang-list li a:focus, .head .header .nav .navbar-inverse .show .lang-list li a:active, .head .header .nav .navbar-inverse .show .lang-list li a:focus, .head .header .nav .navbar-toggle .navbar-collapse .lang-list li a:active, .head .header .nav .navbar-toggle .navbar-collapse .lang-list li a:focus, .head .header .nav .navbar-toggle .show .lang-list li a:active, .head .header .nav .navbar-toggle .show .lang-list li a:focus {
                  color: #203140;
                  opacity: 1; }
            @media screen and (min-width: 769px) {
              .head .header .nav .navbar-inverse .navbar-collapse .lang-list, .head .header .nav .navbar-inverse .show .lang-list, .head .header .nav .navbar-toggle .navbar-collapse .lang-list, .head .header .nav .navbar-toggle .show .lang-list {
                position: absolute;
                top: -130px;
                right: 50px; } }

.img-full {
  height: 316px;
  position: relative;
  background: url(./../images/confer.png) no-repeat;
  background-size: cover; }
  .img-full .container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 50px; }
    @media screen and (max-width: 769px) {
      .img-full .container {
        left: 0;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%); } }
    .img-full .container .text-image h1 {
      font-family: 'Fira Sans';
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 40.9243px;
      letter-spacing: 0.02em;
      color: #FFFFFF; }
      @media screen and (max-width: 992px) {
        .img-full .container .text-image h1 {
          line-height: 37px;
          font-size: 30px; } }

.main {
  margin-top: 8px;
  position: fixed;
  padding-bottom: 70px; }
  @media screen and (max-width: 769px) {
    .main {
      padding-bottom: 25px; } }
  .main .info {
    padding-top: 65px; }
    .main .info .info-left {
      padding-top: 4px; }
      .main .info .info-left::before {
        position: absolute;
        content: "";
        width: 51.68px;
        height: 5px;
        top: -14px;
        background: #0D79D4;
        mix-blend-mode: normal; }
      .main .info .info-left h2 {
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        font-size: 19px;
        letter-spacing: 0.03em;
        color: #203140;
        margin-bottom: 40px; }
        @media screen and (max-width: 1200px) {
          .main .info .info-left h2 {
            margin-bottom: 23px; } }
      .main .info .info-left .h2-down {
        font-weight: bold;
        line-height: 33px;
        letter-spacing: 0.04em;
        margin-bottom: 10px; }
        @media screen and (max-width: 769px) {
          .main .info .info-left .h2-down {
            margin-bottom: 0; } }
      .main .info .info-left p {
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        font-size: 13px;
        letter-spacing: 0.03em;
        color: #81888C; }
    .main .info .info-right h2 {
      font-family: 'Fira Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      line-height: 33px;
      font-size: 19px;
      letter-spacing: 0.04em;
      color: #203140;
      margin-bottom: 10px; }
      @media screen and (max-width: 769px) {
        .main .info .info-right h2 {
          margin-bottom: 0; } }
    .main .info .info-right p {
      font-family: 'Fira Sans',sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: 23px;
      font-size: 13px;
      letter-spacing: 0.03em;
      color: #81888C;
      margin-bottom: 30px; }
      @media screen and (max-width: 769px) {
        .main .info .info-right p {
          margin-bottom: 20px; } }
    @media screen and (max-width: 769px) {
      .main .info .info-right {
        padding-top: 20px; } }
    @media screen and (max-width: 1200px) {
      .main .info {
        padding-top: 30px; } }

.border {
  border-top: 5px solid #0D79D4; }

.footer {
  padding-top: 50px; }
  @media screen and (max-width: 769px) {
    .footer {
      padding-top: 30px; } }
  .footer h2 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 19px;
    letter-spacing: 0.06em;
    color: #203140;
    margin-bottom: 40px; }
    @media screen and (max-width: 769px) {
      .footer h2 {
        margin-bottom: 15px; } }
  .footer p {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: 0.06em;
    color: #203140;
    margin-bottom: 35px; }
    @media screen and (max-width: 769px) {
      .footer p {
        margin-bottom: 10px; } }

.img-full-uslugi {
  height: 225px;
  position: relative;
  background: url(./../images/computer.png) no-repeat #0D79D4;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  opacity: 0.8; }
  .img-full-uslugi .container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 50px; }
    @media screen and (max-width: 769px) {
      .img-full-uslugi .container {
        left: 0;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%); } }
    .img-full-uslugi .container .text-image-uslugi h1 {
      font-family: 'Fira Sans',sans-serif;
      font-style: normal;
      font-weight: bold;
      line-height: 80px;
      font-size: 70px;
      letter-spacing: -0.02em;
      color: #FFFFFF; }
      @media screen and (max-width: 992px) {
        .img-full-uslugi .container .text-image-uslugi h1 {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: bold;
          line-height: 49px;
          font-size: 40px;
          color: #FFFFFF; } }

.img-full-wywiad {
  height: 225px;
  position: relative;
  background: url(./../images/graph.png) no-repeat #0D79D4;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  opacity: 0.8; }
  .img-full-wywiad .container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 50px; }
    @media screen and (max-width: 769px) {
      .img-full-wywiad .container {
        left: 0;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%); } }
    .img-full-wywiad .container .text-image-wywiad h1 {
      font-family: 'Fira Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      line-height: 80px;
      font-size: 70px;
      letter-spacing: -0.02em;
      color: #FFFFFF; }
      @media screen and (max-width: 992px) {
        .img-full-wywiad .container .text-image-wywiad h1 {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: bold;
          line-height: 49px;
          font-size: 40px; } }

.main .info {
  padding-top: 65px; }
  .main .info .info-left {
    padding-top: 4px; }
  .main .info .info-right h2 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 33px;
    font-size: 19px;
    letter-spacing: 0.04em;
    color: #203140;
    margin-bottom: 10px; }
    @media screen and (max-width: 769px) {
      .main .info .info-right h2 {
        margin-bottom: 0; } }
  .main .info .info-right p {
    font-family: 'Fira Sans',sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    font-size: 13px;
    letter-spacing: 0.03em;
    color: #81888C;
    margin-bottom: 30px; }
    @media screen and (max-width: 769px) {
      .main .info .info-right p {
        margin-bottom: 20px; } }
  @media screen and (max-width: 769px) {
    .main .info .info-right {
      padding-top: 20px; } }
  @media screen and (max-width: 1200px) {
    .main .info {
      padding-top: 30px; } }

.img-full-inwest {
  height: 225px;
  position: relative;
  background: url(./../images/computer.png) no-repeat #0D79D4;
  background-size: cover;
  background-position: top;
  background-blend-mode: multiply;
  opacity: 0.8; }
  .img-full-inwest .container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 50px; }
    @media screen and (max-width: 769px) {
      .img-full-inwest .container {
        left: 0;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%); } }
    .img-full-inwest .container .text-image-inwest h1 {
      font-family: 'Fira Sans',sans-serif;
      font-style: normal;
      font-weight: bold;
      line-height: 80px;
      font-size: 70px;
      letter-spacing: -0.02em;
      color: #FFFFFF; }
      @media screen and (max-width: 992px) {
        .img-full-inwest .container .text-image-inwest h1 {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: bold;
          line-height: 49px;
          font-size: 40px;
          color: #FFFFFF; } }

.main {
  margin-top: 8px;
  position: relative;
  padding-bottom: 70px; }
  @media screen and (max-width: 769px) {
    .main {
      padding-bottom: 25px; } }

.img-full-kontakt {
  height: 225px;
  position: relative;
  background: url(./../images/computer.png) no-repeat #0D79D4;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  opacity: 0.8; }
  .img-full-kontakt .container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 50px; }
    @media screen and (max-width: 769px) {
      .img-full-kontakt .container {
        left: 0;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%); } }
    .img-full-kontakt .container .text-image-kontakt h1 {
      font-family: 'Fira Sans',sans-serif;
      font-style: normal;
      font-weight: bold;
      line-height: 80px;
      font-size: 70px;
      letter-spacing: -0.02em;
      color: #FFFFFF; }
      @media screen and (max-width: 992px) {
        .img-full-kontakt .container .text-image-kontakt h1 {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: bold;
          line-height: 49px;
          font-size: 40px;
          color: #FFFFFF; } }

.main .info .info-right-kontakt {
  padding-top: 7px; }
  .main .info .info-right-kontakt h2 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    font-size: 19px;
    letter-spacing: 0.02em;
    color: #828282;
    margin-bottom: 40px; }
    @media screen and (max-width: 769px) {
      .main .info .info-right-kontakt h2 {
        margin-bottom: 24px; } }
  .main .info .info-right-kontakt p {
    font-family: 'Fira Sans',sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    font-size: 13px;
    letter-spacing: 0.03em;
    color: #828282;
    margin-bottom: 30px; }
    @media screen and (max-width: 769px) {
      .main .info .info-right-kontakt p {
        margin-bottom: 0px; } }
  @media screen and (max-width: 769px) {
    .main .info .info-right-kontakt {
      padding-top: 20px; } }

@media screen and (max-width: 1200px) {
  .main .info {
    padding-top: 30px; } }

.border-kontakt {
  border-top: 5px solid #0D79D4; }
  @media screen and (max-width: 769px) {
    .border-kontakt {
      border: none; } }

.footer-kontakt {
  padding-top: 50px; }
  @media screen and (max-width: 769px) {
    .footer-kontakt {
      display: none; } }
  .footer-kontakt h2 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 19px;
    letter-spacing: 0.06em;
    color: #203140;
    margin-bottom: 40px; }
    @media screen and (max-width: 769px) {
      .footer-kontakt h2 {
        margin-bottom: 15px; } }
  .footer-kontakt p {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: 0.06em;
    color: #203140;
    margin-bottom: 35px; }
    @media screen and (max-width: 769px) {
      .footer-kontakt p {
        margin-bottom: 10px; } }
