.head {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 8px;
  @media screen and (max-width: 769px) {
    padding-bottom: 20px;
  }
    @media screen and (max-width: 992px) {
      width: 100% !important;
  }

  .header {
    background-color: #ffffff;
    .logo {
      max-width: none;

      @media screen and (min-width: 770px) and (max-width: 992px) {
        padding-top: 20px;
      }
      a {
        img {
          @media screen and (min-width: 1200px) {
            width: 40%;
          }
        }
      }
    }
    .nav {
      background-color: none;
      padding-top: 45px;
      @media screen and (max-width: 769px) {
        width: 100%;
        position: absolute;
      }
      @media screen and (max-width: 340px) {
        padding-top: 40px;
      }
      .navbar-inverse, .navbar-toggle {
        background-color: #ffffff;
        border: none;
        margin-bottom: 0;
        min-height: 0;
        .button-nav {
          position: absolute;
          top: -30px;
          right: 0;
          @media screen and (max-width: 540px) {
            top: -45px;
          }
          @media screen and (min-width: 770px) {
            display: none ;
          }
          span {
            background-color: #292E33;
            width: 28px;
            height: 3px;
          }
        }
        .navbar-collapse {
          font-family: 'Fira Sans', sans-serif;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          font-size: 14px;
          letter-spacing: 0.06em;
          color: #81888C;
          border-top: none;
          z-index: 100;
          padding-bottom: 5px;
          @media screen and (max-width: 769px) {
            width: 100vw;
            position: absolute;
            background: #292E33;
            mix-blend-mode: normal;
            -webkit-transition: height 0.2s linear;
            transition: height 0.2s linear;
            padding-top: 30px;
            top: 15px;
          }
          @media screen and (max-width: 465px) {
            top: 0;
          }
          li {
            margin-right: 24px;
            @media screen and (max-width: 769px) {
              margin-bottom: 15px;
              margin-left: 8.3%;
            }
            a {
              padding: 6px 0;
              text-decoration: none;
              font-family: 'Fira Sans', sans-serif;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              font-size: 14px;
              letter-spacing: 0.06em;
              color: #81888C;
              &:hover {
              color: #F3480D;
              }
              &:focus {
                color: inherit;
                background-color: none;
              }
              @media screen and (max-width: 769px) {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 900;
                line-height: 37px;
                font-size: 20px;
                letter-spacing: 0.04em;
                color: #FFFFFF;
                &:hover {
                  color: #ffffff;
                }
              }
            }
          }
          .lang-list {
            padding-top: 90px;
            position: static;
            li {
              float: left;
              margin-right: 12px !important;
              @media screen and (min-width: 769px) {
                margin-right: 10px;
              }
              a {
                font-family: 'Fira Sans', sans-serif;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                font-size: 11px;
                letter-spacing: 0.06em;
                color: #81888C;
                opacity: 0.6;
                &:hover {
                  color: #81888C;
                  opacity: 1;
                  border: none;
                }
                &:active, &:focus {
                  color: #81888C;
                  opacity: 1;
                }
                @media screen and (max-width: 769px) {
                  font-size: 16px;
                  &:hover, &:active {
                    color: #ffffff;
                    opacity: 1;
                  }
                }
              }
            }
            @media screen and (min-width: 769px) {
              position: absolute;
              top: -150px;
              right: 50px;
            }
          }
        }
      }
    }
  }
}

.img-full {
  height: 550px;
  position: relative;
  background: url(./../images/rectangle.png) no-repeat ;
  background-size: cover;
  @media screen and (max-width: 769px) {
    height: 514.2px;
  }
  .container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 80px;
    @media screen and (max-width: 769px) {
      left: 0;
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
      bottom: 70px;
    }
    @media screen and (max-width: 992px) {
      width: 100% !important;
  }

    .text-image {
      position: relative;
      h1 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        font-size: 40.9243px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        &::before {
          position: absolute;
          content: "";
          width: 63px;
          height: 5px;
          left: 16px;
          top: -5px;
          background: #7FAAE4;
          mix-blend-mode: normal;
        }
        @media screen and (max-width: 992px) {
          line-height: 37px;
          font-size: 30px;
        }
      }
    }
  }
}


  .container {
    @media screen and (max-width: 992px) {
      width: 100% !important;
  }
    .text-header {
      padding-bottom: 100px;
      @media screen and (max-width: 769px) {
        padding-bottom: 30px;
      }
      .info {
        padding-top: 70px;
        .info-left {
          padding-top: 4px;
          h1 {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: bold;
            line-height: 65px;
            font-size: 58px;
            letter-spacing: -0.02em;
            color: #2B2F33;
            margin-bottom: 40px;
            @media screen and (max-width: 769px) {
              line-height: 45px;
              font-size: 40px;
              margin-top: 0px;
              margin-bottom: 40px;
            }
          }
          h2 {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            font-size: 19px;
            letter-spacing: 0.03em;
            color: #2B2F33;
            @media screen and (max-width: 769px) {
              margin-bottom: 30px;
            }
            &::before {
              position: absolute;
              content: "";
              width: 51.68px;
              height: 5px;
              top: 115px;
              background: #7FAAE4;
              mix-blend-mode: normal;
              @media screen and (max-width: 769px) {
                top: 70px;
              }
            }
          }
          .h2-down {
            margin-bottom: 15px;
            padding-top: 25px;
            @media screen and (max-width: 769px) {
              margin-bottom: 0;
              padding-top: 0;
            }
          }
          p {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            font-size: 13px;
            letter-spacing: 0.03em;
            color: #81888C;
          }
        }
        .info-right {
          padding-top: 105px;
          @media screen and (max-width: 769px) {
          }
          h2 {
            font-family: 'Fira Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            line-height: 33px;
            font-size: 19px;
            letter-spacing: 0.04em;
            color: #203140;
            margin-bottom: 10px;
            @media screen and (max-width: 769px) {
              margin-bottom: 0;
            }
          }
          p {
            font-family: 'Fira Sans',sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: 23px;
            font-size: 13px;
            letter-spacing: 0.03em;
            color: #81888C;
            margin-bottom: 30px;
            @media screen and (max-width: 769px) {
                margin-bottom: 20px;
            }
          }
          @media screen and (max-width: 769px) {
            padding-top: 0px;
          }
        }
        @media screen and (max-width: 1200px) {
          padding-top: 30px;
        }
      }
    }
  }

  .background-main-footer {
    background: #292E33;
    .main-uslugi {
      padding-top: 100px;
      padding-bottom: 130px;
      @media screen and (max-width: 769px) {
        padding-top: 25px;
        padding-bottom: 0;
      }
      .img-uslugi {}
      .text-uslugi {
        h1 {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: bold;
          line-height: 65px;
          font-size: 58px;
          letter-spacing: -0.02em;
          color: #FFFFFF;
          margin-bottom: 40px;
          margin-top: 0;
          @media screen and (max-width: 769px) {
            padding-top: 48px;
            line-height: 45px;
            font-size: 40px;
            margin-bottom: 40px;
          }
        }
        h2 {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          font-size: 19px;
          letter-spacing: 0.03em;
          color: #FFFFFF;
          margin-bottom: 15px;
          &::before {
            position: absolute;
            content: "";
            width: 51.68px;
            height: 5px;
            top: 88px;
            background: #7FAAE4;
            mix-blend-mode: normal;
            @media screen and (max-width: 769px) {
              top: 118px;
            }
          }
        }
        p {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
          font-size: 13px;
          letter-spacing: 0.02em;
          color: #B0BABF;
        }
      }
    }

    .main-telemarket {
      padding-bottom: 100px;
      @media screen and (max-width: 769px) {
        padding-bottom: 20px;
      }
      .h1 {
        h1 {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: bold;
          line-height: 65px;
          font-size: 58px;
          letter-spacing: -0.02em;
          color: #FFFFFF;
          margin-top: 0;
          @media screen and (max-width: 769px) {
            line-height: 45px;
            font-size: 40px;
          }
        }
      }
      .p {
        p {
          font-family: 'Roboto', sans-serif;;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
          font-size: 13px;
          letter-spacing: 0.02em;
          color: #B0BABF;
          padding-top: 53px;
          @media screen and (max-width: 769px) {
            padding-top: 36px;
          }
          &::before {
            position: absolute;
            content: "";
            width: 51.68px;
            height: 5px;
            top: 29px;
            background: #7FAAE4;
            mix-blend-mode: normal;
            @media screen and (max-width: 769px) {
              top: 15px;
            }
          }
        }
      }
    }

    .main-inwest {
      padding-bottom: 70px;
      @media screen and (max-width: 769px) {
        display: table;
        padding-bottom: 23px;
      }
      .text-inwest {
        @media screen and (max-width: 769px) {
          display: table-footer-group;
        }
        h1 {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: bold;
          line-height: 65px;
          font-size: 58px;
          letter-spacing: -0.02em;
          color: #FFFFFF;
          margin-top: 0;
          @media screen and (max-width: 769px) {
            line-height: 45px;
            font-size: 40px
          }
        }
        p {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
          font-size: 13px;
          letter-spacing: 0.02em;
          color: rgba(255, 255, 255, 0.75);
          padding-top: 30px;
          @media screen and (max-width: 769px) {
            padding-top: 25px;
            padding-bottom: 35px;
          }
          &::before {
            position: absolute;
            content: "";
            width: 51.68px;
            height: 5px;
            top: 90px;
            background: #7FAAE4;
            mix-blend-mode: normal;
            @media screen and (max-width: 769px) {
              top: 64px;
            }
          }
        }
      }
      .img-inwest {
        @media screen and (max-width: 769px) {
          display: table-header-group;
          float: none;
          img {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }

    .border {
      border-top: 5px solid #7FAAE4;
    }

    .footer {
      padding-top: 10px;
      padding-left: 15px;
      padding-bottom: 90px;
      h3 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: 26px;
        font-size: 23.6711px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-bottom: 15px;
      }
      h4 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 900;
        line-height: 20px;
        font-size: 13px;
        letter-spacing: 0.06em;
        color: #ffffff;
        margin-bottom: 2px;
      }
      p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        font-size: 13px;
        letter-spacing: 0.06em;
        color: #B0BABF;
        margin-bottom: 0;
      }
    }
  }




.background-black {
  background-color: #292E33 !important;
}

.background-white {
  background-color: #ffffff !important;
}
