.background-header {
  background-color: black;
  padding-bottom: 110px; }
  .background-header .header-text-uslugi {
    padding-top: 60px; }
    @media screen and (max-width: 769px) {
      .background-header .header-text-uslugi {
        padding-bottom: 120px; } }
    .background-header .header-text-uslugi h1 {
      position: relative;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      line-height: 50px;
      font-size: 41px;
      color: #292929; }
      @media screen and (max-width: 769px) {
        .background-header .header-text-uslugi h1 {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: bold;
          line-height: 37px;
          font-size: 30px;
          color: #292929; } }
      .background-header .header-text-uslugi h1::before {
        position: absolute;
        content: "";
        width: 63px;
        height: 5px;
        left: 17px;
        top: -17px;
        background: #138D14;
        mix-blend-mode: normal; }

.image-main {
  position: relative; }
  .image-main .image {
    position: absolute;
    top: -113px; }
    @media screen and (max-width: 769px) {
      .image-main .image {
        top: -200px; } }

.text-main {
  padding-bottom: 100px; }
  @media screen and (min-width: 769px) {
    .text-main {
      padding-top: 62px; } }
  @media screen and (max-width: 766px) {
    .text-main {
      padding-top: 172px; } }
  @media screen and (max-width: 469px) {
    .text-main {
      padding-top: 92px; } }
  @media screen and (max-width: 390px) {
    .text-main {
      padding-top: 52px; } }
  .text-main p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 13px;
    letter-spacing: 0.03em;
    color: #808080; }

.footer {
  background: #163B17;
  padding-bottom: 115px; }
  .footer .footer-left {
    padding-top: 55px; }
    @media screen and (max-width: 769px) {
      .footer .footer-left {
        padding-top: 15px; } }
    .footer .footer-left h2 {
      font-family: 'Fira Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.06em;
      color: #FFFFFF; }
    .footer .footer-left p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: 20px;
      font-size: 14px;
      letter-spacing: 0.06em;
      color: #B0BABF; }
  .footer .footer-center {
    padding-top: 72px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: 0.06em;
    color: #B0BABF; }
    @media screen and (max-width: 769px) {
      .footer .footer-center {
        padding-top: 5px; } }
  @media screen and (max-width: 769px) {
    .footer .footer-nav {
      display: none; } }
  .footer .footer-nav ul {
    padding-top: 52px; }
    .footer .footer-nav ul li {
      float: left;
      margin-right: 18px; }
      .footer .footer-nav ul li a {
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 14px;
        letter-spacing: 0.06em;
        color: #FFFFFF; }
