#footer {
  width: 100%;
  height: 460px;
  display: block;
  overflow: hidden;
  margin: 0;
  border-top: 5px solid #2f3235; }
  #footer .top {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0;
    background-color: #3a3d40;
    padding-top: 40px; }
    #footer .top h4 {
      font-size: 15px;
      color: #e3e3e3;
      text-transform: uppercase; }
    #footer .top p {
      font-size: 13px;
      color: #bfbfbf; }
    #footer .top .posts {
      width: 230px;
      height: 300px;
      float: left; }
      #footer .top .posts h4 {
        margin-bottom: 30px; }
      #footer .top .posts p {
        line-height: 1.7;
        margin-bottom: 20px; }
      #footer .top .posts .date {
        font-size: 11px;
        color: #757b80;
        margin: 20px 0 20px 0; }
      #footer .top .posts .background-4 {
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
        padding: 0 0 3px 0;
        background-image: url(../images/square-black.png);
        background-position: 0 0;
        background-repeat: repeat-x;
        display: block; }
      #footer .top .posts .background-5 {
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
        padding: 0 0 3px 0;
        background-image: url(../images/square-black.png);
        background-position: 0 0;
        background-repeat: repeat-x;
        display: block; }
    #footer .top .twitter {
      width: 230px;
      height: 300px;
      float: left; }
    #footer .top .me {
      width: 230px;
      height: 300px;
      float: left; }
    #footer .top .input {
      float: right; }
  #footer .bottom {
    width: 100%;
    height: 70px;
    display: block;
    overflow: hidden;
    margin: 0;
    border-top: 1px solid #24272a;
    background-color: #3a3d40; }
    #footer .bottom .copy {
      float: left;
      line-height: 70px;
      color: #bfbfbf;
      font-size: 13px; }
      #footer .bottom .copy a {
        color: #86acc4; }
    #footer .bottom .soc {
      float: right;
      margin: 22px 0 0 0; }
      #footer .bottom .soc li {
        float: left;
        margin: 0 6px 0 0;
        width: 25px;
        height: 25px; }
        #footer .bottom .soc li:last-child {
          margin: 0; }
        #footer .bottom .soc li a {
          width: 100%;
          height: 100%;
          display: block;
          margin: 0; }
          #footer .bottom .soc li a img {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0; }
