#header {
  width: 100%;
  display: block;
  overflow: hidden;
  background: #3a3d40;
  border-bottom: 5px solid #4a4d50;
  position: relative; }
  #header .logo-jkaros {
    width: 88px;
    height: 32px;
    float: left;
    margin-top: 37px; }
  #header .menu {
    height: 88px;
    float: right; }
  #header li {
    float: left;
    margin: 0px 20px 0 0;
    border-right: 3px solid red;
    height: 87px; }
  #header a {
    display: block;
    font-weight: bold;
    font-size: 12px;
    color: #c1c1c1;
    padding-top: 57px;
    text-transform: uppercase; }
    #header a:hover {
      color: #698394; }
