.img-full-kontakt {
  height: 225px;
  position: relative;
  background: url(./../images/computer.png) no-repeat #0D79D4;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  opacity: 0.8;

  .container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    @media screen and (max-width: 769px) {
      left: 0;
      transform: translateX(0%);
    }
    .text-image-kontakt {
      h1 {
        font-family: 'Fira Sans',sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: 80px;
        font-size: 70px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        @media screen and (max-width: 992px) {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: bold;
          line-height: 49px;
          font-size: 40px;
          color: #FFFFFF;
        }
      }
    }
  }
}
.main {
  .info {
    .info-right-kontakt {
      padding-top: 7px;
      h2 {
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        font-size: 19px;
        letter-spacing: 0.02em;
        color: #828282;
        margin-bottom: 40px;
        @media screen and (max-width: 769px) {
          margin-bottom: 24px;
        }
      }
      p {
        font-family: 'Fira Sans',sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        font-size: 13px;
        letter-spacing: 0.03em;
        color: #828282;
        margin-bottom: 30px;
        @media screen and (max-width: 769px) {
            margin-bottom: 0px;
        }
      }
      @media screen and (max-width: 769px) {
        padding-top: 20px;
      }
    }
    @media screen and (max-width: 1200px) {
      padding-top: 30px;
    }
  }
}


.border-kontakt {
  border-top: 5px solid #0D79D4;
  @media screen and (max-width: 769px) {
    border: none;
  }
}

.footer-kontakt {
  padding-top: 50px;
  @media screen and (max-width: 769px) {
    display: none;
  }
  h2 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 19px;
    letter-spacing: 0.06em;
    color: #203140;
    margin-bottom: 40px;
    @media screen and (max-width: 769px) {
      margin-bottom: 15px;
    }
  }

  p {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: 0.06em;
    color: #203140;
    margin-bottom: 35px;
    @media screen and (max-width: 769px) {
      margin-bottom: 10px;
    }
  }

}
